LLM_BASE_URL=https://vibe-agent-gateway.eternalai.org/v1
LLM_API_KEY=secret
LLM_MODEL_ID=zai-org/GLM-4.5-Air-FP8
LLM_MODEL_ID_CODE=zai-org/GLM-4.5-Air-FP8
TAVILY_API_KEY=secret
FINANCIAL_DATASETS_API_KEY=secret
ETERNALAI_ADMIN_KEY=secret

